<div class='container'>
  <div class='col-md-5'>
    <h1>Sign up</h1>

    <%= form_for @user do |f| %>
      <%= f.label :first_name %>:
      <%= f.text_field :first_name, class: 'form-control' %><br />

      <%= f.label :last_name %>:
      <%= f.text_field :last_name, class: 'form-control' %><br />
          
      <%= f.label :email %>:
      <%= f.text_field :email, class: 'form-control' %><br />
          
      <%= f.label :password %>:
      <%= f.password_field :password, class: 'form-control' %><br />

      <%= f.submit "Log in", class: 'btn btn-default' %>
    <% end %>
  </div>
</div>

  
   <!--  </div>
  </div>
</div>
<div class='container'>
  <div class='col-md-5'>
    <form class='form-horizontal' accept-charset="UTF-8" action="/users" id="signin" method="post">
      <div class="form-group">
        <label for="userName">Name</label>
        <input type="text" class="form-control" id="userName" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="userSurname">Surname</label>
        <input type="text" class="form-control" id="userSurname" placeholder="Surname">
      </div>
      <div class="form-group">
        <label for="userEmail">Email address</label>
        <input type="email" class="form-control" id="userEmail" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="userPassword">Password</label>
        <input type="password" class="form-control" id="userPassword" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div> -->
