<div class='container'>
  <div class='col-md-5'>
    <h1>Sign up as a Patient</h1>

    <%= form_for @patient do |f| %>

      <%= f.label :name %>:
      <%= f.text_field :name, class: 'form-control' %><br />

      <%= f.label :surname %>:
      <%= f.text_field :surname, class: 'form-control' %><br />
          
      <%= f.label :email %>:
      <%= f.text_field :email, class: 'form-control' %><br />
          
      <%= f.label :password %>:
      <%= f.password_field :password, class: 'form-control' %><br />

      <%= f.submit "Save", class: 'btn btn-default' %>
    <% end %>
  </div>
</div>

